@import "mixins";


.lesAppuis {
  color: $sub1_color;
  font-family: 'texGyre', sans-serif;
  font-size: 25px;
  margin: 0 10em;
  margin-top: 50px;
  text-align: left;
  text-justify: inter-word;

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 1.2rem;

    li {
      position: relative;
      padding-left: 2.5rem;
      margin-bottom: 0.5rem;
    }
  }

}


.container {
    background-image: url(../public/textureFabric.png);
}
  
  .main {
    min-height: 100vh;
    padding: 2rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
  }

  
  
  .title a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }

  .title,
  .description {
    text-align: center;
  }
  
  .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }

  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  
  