@import "mixins";

.bouton {
    position: fixed; 
    width: 100%;
    left: 90%;
    bottom: 100px;
    height: 20px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    color: $nice_color;
}