@import "mixins";

.main {
    min-height: 100vh;
    padding: 2rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;

    margin-right: auto; /* 1 wrapper... */
    margin-left:  auto; /* 1 */
    max-width: 960px; /* 2 */
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
}

.listeTextes {
    color: $nice_color;
    li {
        list-style-type: none;
    }

}