@import "mixins";

.main {
    min-height: 100vh;
    padding: 2rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;

    margin-right: auto; /* 1 wrapper... */
    margin-left:  auto; /* 1 */
    max-width: 960px; /* 2 */
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
}

.listeTextes {
    color: $nice_color;
    @keyframes swing-in-top-fwd{0%{transform:rotateX(-100deg);transform-origin:top;opacity:0}100%{transform:rotateX(0deg);transform-origin:top;opacity:1}}
    animation:swing-in-top-fwd 2s cubic-bezier(.175,.885,.32,1.275) both;

    li {
        list-style-type: none;
    }
    input {
        font-size: 20px;
    }

    span {
        color: $sub1_color;
        font-size: large;
        margin-left: 20px;
    }

}